{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link type="text/css" href="{% static 'css/home/especialidades.css' %}" rel="stylesheet" />
    <title>MedicalSys</title>
</head>
{% include 'base/header.html' %}

<body>
    <div class="button-container">
        <div class="button">Medicina General</div>
        <div class="button">Pediatría</div>
        <div class="button">Cardiología</div>
        <div class="button">Ortopedia</div>
        <div class="button">Psicología/Psiquiatría</div>
        <div class="button">Dermatología</div>
    </div>
</body>
</html>
