{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link type="text/css" href="{% static 'css/home/informacion.css' %}" rel="stylesheet" />
    <title>MedicalSys</title>
</head>
{% include 'base/header.html' %}
<body>
    <div class="container">
        <p>En nuestra clínica médica, cuidamos de ti y tu familia. Con décadas de experiencia, brindamos atención médica de calidad en un entorno cálido y acogedor. Nuestro equipo de médicos altamente capacitados se preocupa por tu bienestar y está listo para ayudarte en cada paso de tu viaje hacia una vida más saludable. Desde consultas generales hasta atención especializada, estamos aquí para ti. Tu salud es nuestra prioridad número uno. ¡Confía en nosotros para mantenerte saludable y feliz!</p>
    </div>
</body>
</html>
