asgiref==3.7.2
certifi==2023.7.22
charset-normalizer==3.3.0
clipboard==0.0.4
distlib==0.3.7
Django==4.2.6
django-ckeditor==6.7.0
django-jazzmin==2.6.0
django-js-asset==2.1.0
Faker==19.10.0
filelock==3.12.2
gunicorn==21.2.0
idna==3.4
packaging==23.2
Pillow==10.0.1
pipenv==2023.8.23
platformdirs==3.10.0
pyperclip==1.8.2
python-dateutil==2.8.2
requests==2.31.0
six==1.16.0
sqlparse==0.4.4
tzdata==2023.3
urllib3==2.0.6
virtualenv==20.24.3
